<%= simple_form_for(@scheme) do |f| %>
  <% if @scheme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheme.errors.count, "error") %> prohibited this scheme from being saved:</h2>

      <ul>
      <% @scheme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :shared %>
    <%= f.check_box :shared %>
  </div>
  <% unless current_user.friends.nil? %>
    <div class="field">
      <% i = 0 %>
      <%= f.fields_for :users, current_user.friends do |user| %>
        <%= user.label :name, current_user.friends[i].name %>
        <% p @scheme.users.include?(current_user.friends[i]) %>
        <% if @scheme.users.include?(current_user.friends[i]) %>
          <%= user.input_field :name, as: :boolean, input_html: { checked: true } %>
        <% else %>
          <%= user.input_field :name, as: :boolean %>
        <% end %>
        <% i = i + 1 %>
        <br>
      <% end %>
    </div>
  <% end %>
  <div class="field">
      <%= f.fields_for :colors do |color| %>
        <%= color.input :name, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}} %>
      <% end %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
