<%= simple_form_for(@scheme) do |f| %>
  <% if @scheme.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @scheme.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script type="text/javascript">
    var bootstrapColorpicker = function() {
      $('[data-minicolors]').each(function(i, elem) {
        var input = $(this);
        input.minicolors(input.data('minicolors'));
      });
    };

    $(bootstrapColorpicker);
    $(document).on('page:load', bootstrapColorpicker);
  </script>

  <div class="form-group row">
    <div class="col-sm-6 col-sm-push-3">
      <p class="form-label">Name:</p>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.check_box :private %>
    <%= f.label :make_this_color_scheme_private %>
  </div>
  <div class="row">
    <p class="form-label">Choose colors:</p>
    <div class="form-group">
      <div class="col-sm-6 col-sm-push-3">
        <%= f.fields_for :colors do |color| %>
          <%= color.input :name, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :left}}}, label: false %>
        <% end %>
      </div>
    </div>
  </div>

  <%= submit_tag 'Create', class: 'btn btn-default' %>
<% end %>
