<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h1>Color Schemes
      <%= link_to new_scheme_path do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true" sr-only="new color scheme" title="Create new color scheme"></span>
      <% end %>
    </h1>
  </div>

  <% @schemes.each_slice(4).to_a.each do |scheme_arr| %>
    <div class="row">
    <% scheme_arr.each do |scheme| %>
      <% if !scheme.private || scheme.users.include?(current_user) %>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to scheme.name, scheme %></h3>
            </div>
            <div class="panel-body colors">
              <% scheme.colors.each do |color| %>
                <div class="well well-sm" style="background-color: <%= color.name %>;"><%= color.name.upcase %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>

</div>
