<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <h1>Colors Schemes</h1>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h4>Name</h4>
    </div>
    <div class="col-xs-6">
      <h4>Colors</h4>
    </div>
  </div>

  <% @schemes.each do |scheme| %>
    <% if !scheme.private || scheme.users.include?(current_user) %>
      <div class="row">
        <div class="col-xs-6">
          <%= link_to scheme.name, scheme %>
        </div>
        <div class="col-xs-6">
          <% scheme.colors.each do |color| %>
            <%= color.name %>, <%= color.r %>, <%= color.g %>, <%= color.b %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <%= link_to 'New Scheme', new_scheme_path %>
  </div>
</div>
