<div class="container">
  <% unless notice.blank? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="row">
    <h1>Color Schemes</h1>
  </div>

  <br>

  <div class="row">
  <% @schemes.reverse.each_slice(4).to_a.each do |scheme_arr| %>
    <% scheme_arr.each do |scheme| %>
      <% if !scheme.private || scheme.users.include?(current_user) %>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title"><%= link_to scheme.name, scheme %>
                <div class="pull-right">
                <% if scheme.users.include?(current_user) %>
                  <%= link_to edit_scheme_path(scheme) do %>
                    <span class="glyphicon glyphicon-cog" aria-hidden="true" sr-only="edit scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Edit color scheme"></span>
                  <% end %>
                  <%= link_to share_scheme_path(scheme) do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true" sr-only="share color scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Share color scheme"></span>
                  <% end %>
                  <%= link_to scheme, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" sr-only="delete scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Delete color scheme"></span>
                  <% end %>
                <% end %>
                </div>
              </div>
            </div>

            <div class="panel-body colors">
              <% scheme.colors.each do |color| %>
                <div class="well small" data-toggle="tooltip" data-placement="bottom" title data-original-title="<%= color.name.upcase %>" style="background-color: <%= color.name.upcase %>;"></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>

</div>
