<div class="container">

  <% unless notice.blank? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="pull-left">
          <%= link_to schemes_path do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" sr-only="back to all color schemes" data-toggle="tooltip" data-placement="top" title data-original-title="Back to all color schemes"></span>
          <% end %>
        </div>
        <%= @scheme.name %>
        <div class="pull-right">
          <% if @scheme.users.include?(current_user) %>
            <%= link_to edit_scheme_path(@scheme) do %>
              <span class="glyphicon glyphicon-cog" aria-hidden="true" sr-only="edit color scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Edit color scheme"></span>
            <% end %>
            <%= link_to @scheme, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true" sr-only="delete color scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Delete color scheme"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <strong><%= "Author".pluralize(@scheme.users.count) %>:</strong>
        <% @scheme.users.each do |user| %>
          <% if user == @scheme.users.last %>
            <%= link_to user.name, user %>
          <% else %>
            <%= link_to user.name, user %>,
          <% end %>
        <% end %>
      </div>

      <br>

      <div class="row colors">
        <% @scheme.colors.each do |color| %>
          <div class="col-sm-2">
            <div class="well well-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="<%= color.name %>" style="background-color: <%= color.name %>;"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
