<div class="container">

  <% unless notice.blank? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="pull-left">
          <%= link_to schemes_path do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" sr-only="back to all color schemes" data-toggle="tooltip" data-placement="top" title data-original-title="Back to all color schemes"></span>
          <% end %>
        </div>
        <%= @scheme.name %> by
        <% if @scheme.users.count == 1 %>
          <%= link_to @scheme.users.first.name, @scheme.users.first %>
        <% elsif @scheme.users.count == 2 %>
          <%= link_to @scheme.users.first.name, @scheme.users.first %> and <%= link_to @scheme.users.last.name, @scheme.users.last %>
        <% else %>
          <% @scheme.users.each do |user| %>
            <% if user == @scheme.users.last %>
              and <%= link_to user.name, user %>
            <% else %>
              <%= link_to user.name, user %>,
            <% end %>
          <% end %>
        <% end %>
        <div class="pull-right">
          <% if @scheme.users.include?(current_user) %>
            <%= link_to edit_scheme_path(@scheme) do %>
              <span class="glyphicon glyphicon-cog" aria-hidden="true" sr-only="edit color scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Edit color scheme"></span>
            <% end %>
            <%= link_to share_scheme_path(@scheme) do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true" sr-only="share color scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Share color scheme"></span>
            <% end %>
            <%= link_to @scheme, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true" sr-only="delete color scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Delete color scheme"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <br>
      <div class="row colors">
        <% @scheme.colors.each do |color| %>
          <div class="col-sm-2">
            <div class="well well-lg" data-toggle="tooltip" data-placement="bottom" title data-original-title="<%= color.name %>" style="background-color: <%= color.name %>;"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
