<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <h1>Users</h1>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h4>Name</h4>
    </div>
    <div class="col-xs-4">
      <h4>Email</h4>
    </div>
    <div class="col-xs-4">
    </div>
  </div>

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-xs-4">
        <%= link_to user.name, user %>
      </div>
      <div class="col-xs-4">
        <%= user.email %>
      </div>
      <div class="col-xs-4">
        <% if user == current_user %>
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless logged_in? %>
    <div class="row">
      <%= link_to 'New User', new_user_path %>
    </div>
  <% end %>
</div>
