<div class="container">

  <% unless notice.blank? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="pull-left">
          <%= link_to users_path do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" sr-only="back to all users" data-toggle="tooltip" data-placement="top" title data-original-title="Back to all users"></span>
          <% end %>
        </div>
        <%= @user.name %>
        <div class="pull-right">
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user) do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true" sr-only="edit user" data-toggle="tooltip" data-placement="top" title data-original-title="Edit account"></span>
          <% end %>
          <%= link_to @user, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" sr-only="delete user" data-toggle="tooltip" data-placement="top" title data-original-title="Delete account"></span>
          <% end %>
        <% elsif logged_in? && !current_user.pending_friends.include?(@user) && !current_user.requested_friends.include?(@user) && !current_user.friends.include?(@user) %>
          <%= link_to request_friend_url(@user), method: :post do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true" sr-only="add friend" data-toggle="tooltip" data-placement="top" title data-original-title="Add friend"></span>
          <% end %>
        <% elsif logged_in? && current_user.pending_friends.include?(@user) %>
          <span class="glyphicon glyphicon-hourglass" aria-hidden="true" sr-only="friend requested" data-toggle="tooltip" data-placement="top" title data-original-title="Friend requested"></span>
        <% elsif logged_in? && current_user.requested_friends.include?(@user) %>
          <%= link_to accept_friend_url(@user), method: :post do %>
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" sr-only="accept friend request" data-toggle="tooltip" data-placement="top" title data-original-title="Accept friend request"></span>
          <% end %>
            <%= link_to decline_friend_url(@user), method: :post do %>
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" sr-only="decline friend request" data-toggle="tooltip" data-placement="top" title data-original-title="Decline friend request"></span>
            <% end %>
        <% elsif logged_in? && current_user.friends.include?(@user) %>
          <span class="glyphicon glyphicon-heart" aria-hidden="true" sr-only="friends" data-toggle="tooltip" data-placement="top" title data-original-title="You are friends"></span>
        <% end %>
        </div>
      </div>
    </div>

    <div class="panel-body outer">
      <h3><%= @user.name %>'s Color Schemes:</h3>
      <% if @user.schemes.empty? %>
        <p><%= @user.name %> has not made any color schemes yet!</p>
        <br>
      <% end %>
      <% @user.schemes.each_slice(4).to_a.each do |scheme_arr| %>
        <div class="row">
        <% scheme_arr.each do |scheme| %>
          <% if !scheme.private || scheme.users.include?(current_user) %>
            <div class="col-sm-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= link_to scheme.name, scheme %>
                    <div class="pull-right">
                    <% if scheme.users.include?(current_user) %>
                      <%= link_to edit_scheme_path(scheme) do %>
                        <span class="glyphicon glyphicon-cog" aria-hidden="true" sr-only="edit scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Edit color scheme"></span>
                      <% end %>
                      <%= link_to share_scheme_path(scheme) do %>
                        <span class="glyphicon glyphicon-user" aria-hidden="true" sr-only="share color scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Share color scheme"></span>
                      <% end %>
                      <%= link_to scheme, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" sr-only="delete scheme" data-toggle="tooltip" data-placement="top" title data-original-title="Delete color scheme"></span>
                      <% end %>
                    <% end %>
                    </div>
                  </h3>
                </div>
                <div class="panel-body colors">
                  <% scheme.colors.each do |color| %>
                    <div class="well small" data-toggle="tooltip" data-placement="bottom" title data-original-title="<%= color.name %>" style="background-color: <%= color.name %>;"></div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      <% end %>

      <% if @user == current_user && logged_in? %>
        <div class="col-sm-6">
          <h3>Friends:</h3>
          <% if @user.friends.empty? %>
            <p>You don't have any friends yet!</p>
            <br>
          <% end %>
          <% @user.friends.each_slice(2).to_a.each do |friend_arr| %>
            <div class="row">
              <% friend_arr.each do |friend| %>
              <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= link_to friend.name, friend %>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <%= friend.email %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="col-sm-6">
          <h3>Pending Friend Requests:</h3>
          <% if @user.requested_friends.empty? %>
            <p>You don't have any pending friend requests.</p>
          <% end %>
          <% @user.requested_friends.each_slice(2).to_a.each do |friend_arr| %>
            <div class="row">
              <% friend_arr.each do |request| %>
              <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= link_to request.name, request %>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <%= link_to accept_friend_url(request), method: :post do %>
                      <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" sr-only="accept friend request" data-toggle="tooltip" data-placement="bottom" title data-original-title="Accept friend request"></span>
                    <% end %>
                      <%= link_to decline_friend_url(request), method: :post do %>
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" sr-only="decline friend request" data-toggle="tooltip" data-placement="bottom" title data-original-title="Decline friend request"></span>
                      <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
